<app-header></app-header>
<section id="welcome-hero" class="welcome-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="header-text">
          <h2>Hi <span>,</span> i am <br> Kuldeep<span>.</span>   </h2>
          <p>Fullstack Developer</p>
          <a href="assets/download/resume.pdf" download>download resume</a>
        </div><!--/.header-text-->
      </div><!--/.col-->
    </div><!-- /.row-->
  </div><!-- /.container-->

</section>
<app-about></app-about>
<app-education></app-education>
<app-skills></app-skills>
<app-experience></app-experience>
<app-portfolio></app-portfolio>
<app-contact></app-contact>
<app-profile></app-profile>
<app-footer></app-footer>

